# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

** Objectives:**

List popular languages for Data Science

+ Python
+ R Language
+ Java script
+ SQL

Some of the popular languages that Data Scientists use are:
1. R Language
2. Python
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Matplotlib
3. Pandas
4. Scikit learn

| Data Science Tools |
|--------------------|
| Jypyter Notebooks  |
| R Studio           |
| Apache Spark       |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Kelly Muchangi